{% extends 'base.html.twig' %}
{% block body %}
    {% embed 'admin/base.html.twig' %}
        {% block secondTitle %}
            Admin - Modifier l'utilisateur {{ user.username }}
        {% endblock %}
        {% block bodyAdmin %}<br><br>
            <div class="container-fluid row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    {% form_theme form 'bootstrap_3_layout.html.twig' %}
                    {{ form(form) }}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}