{% extends 'base.html.twig' %}
{% block body %}
    {% embed 'admin/base.html.twig' %}
        {% block secondTitle %}
            Admin - Ajout d'un type de médecin
        {% endblock %}
        {% block bodyAdmin %}
            <br><br>
            <div class="container-fluid row">
                <div class="col-lg-5"></div>
                <div class="col-lg-2 text-center">
                    {% form_theme form 'bootstrap_4_layout.html.twig' %}
                    {{ form(form) }}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}