{% extends 'base.html.twig' %}

{% block body %}
    <div class="bradcam_area bradcam_bg_3">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Erreur {{ status_code }} : {{ status_text }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center" style="padding-top: 100px;">
        <h1><a class="text-dark" href="{{ url('homepage') }}">Revenir à l'accueil</a></h1><br>
    </div>
{% endblock %}